## Install the packages

In [1]:
# %pip install nba_api
# %pip install pandas

## Import the libraries

In [26]:
import pandas as pd

from nba_api.stats.static import players
from nba_api.stats.endpoints import leaguegamefinder
from nba_api.stats.endpoints import playercareerstats
from nba_api.stats.endpoints import playergamelog

## Basic search parameters

In [10]:
season = '2020-21'
season_type = 'Regular Season'

## Get active players IDs

In [5]:
player_list = players.get_active_players()
player_list[0:3]

[{'id': 1630173,
  'full_name': 'Precious Achiuwa',
  'first_name': 'Precious',
  'last_name': 'Achiuwa',
  'is_active': True},
 {'id': 203500,
  'full_name': 'Steven Adams',
  'first_name': 'Steven',
  'last_name': 'Adams',
  'is_active': True},
 {'id': 1628389,
  'full_name': 'Bam Adebayo',
  'first_name': 'Bam',
  'last_name': 'Adebayo',
  'is_active': True}]

## Get Stats by Game (Team Total)

In [11]:
# get game logs from the reg season
gamefinder = leaguegamefinder.LeagueGameFinder(season_nullable=season, 
                                              league_id_nullable='00', 
                                              season_type_nullable=season_type)
games = gamefinder.get_data_frames()[0]
games.head(3)

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22020,1610612765,DET,Detroit Pistons,0022001069,2021-05-16,DET vs. MIA,L,240,107,...,0.727,7,26,33,26,4,4,16,21,-13.0
1,22020,1610612753,ORL,Orlando Magic,0022001075,2021-05-16,ORL @ PHI,L,240,117,...,0.854,9,38,47,23,4,3,16,25,-11.0
2,22020,1610612739,CLE,Cleveland Cavaliers,0022001067,2021-05-16,CLE @ BKN,L,239,109,...,0.677,11,34,45,16,8,5,14,14,-14.0

## Get Stats by Season (Player Total)

In [13]:
player_list[1]

{'id': 203500,
 'full_name': 'Steven Adams',
 'first_name': 'Steven',
 'last_name': 'Adams',
 'is_active': True}

In [21]:
player_id = player_list[1]['id']
player_id

203500

In [24]:
career = playercareerstats.PlayerCareerStats(player_id=player_id)
career_df = career.get_data_frames()[0]
career_df.head(3)

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203500,2013-14,00,1610612760,OKC,20.0,81,20,1197.0,93,...,0.581,142,190,332,43,40,57,71,203,265
1,203500,2014-15,00,1610612760,OKC,21.0,70,67,1771.0,217,...,0.502,199,324,523,66,38,86,99,222,537
2,203500,2015-16,00,1610612760,OKC,22.0,80,80,2014.0,261,...,0.582,219,314,533,62,42,89,84,223,636

## Get Stats by Game (Player Total)

In [27]:
gamelog = playergamelog.PlayerGameLog(
    player_id=player_id,
    season=season,
    season_type_all_star=season_type,
    league_id_nullable='00')

gm = gamelog.get_data_frames()[0]
gm.head(3)

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22020,203500,0022000987,"MAY 04, 2021",NOP vs. GSW,W,24,0,3,0.000,...,7,8,2,0,1,0,0,1,5,1
1,22020,203500,0022000940,"APR 28, 2021",NOP @ DEN,L,13,1,2,0.500,...,1,1,2,1,0,0,1,2,-5,1
2,22020,203500,0022000264,"APR 24, 2021",NOP vs. SAS,L,32,2,3,0.667,...,6,10,1,3,0,3,2,4,-2,1

## Save the DataFrame

In [28]:
# Pickle
# df.to_pickle('df.pkl')

# Unpickle
# df = pd.read_pickle('df.pkl')