In [1]:
import requests
import pandas as pd

# URL from DraftKing to download the csv file with all the salary and position data
csv_url = 'https://www.draftkings.com/lineup/getavailableplayerscsv?contestTypeId=70&draftGroupId=65997'
r = requests.get(csv_url, allow_redirects=True)

with open('salaries_and_positions.csv', 'wb') as f:
    f.write(r.content)

df = pd.read_csv('salaries_and_positions.csv')

In [2]:
df.head(3)

,Position,Name + ID,Name,ID,Roster Position,Salary,Game Info,TeamAbbrev,AvgPointsPerGame
0,C,Nikola Jokic (21833099) (LOCKED),Nikola Jokic,21833099,C/UTIL,12000,Final,DEN,61.33
1,SF/PF,Giannis Antetokounmpo (21833101) (LOCKED),Giannis Antetokounmpo,21833101,SF/PF/F/UTIL,11800,Final,MIL,58.29
2,SF/PF,Kevin Durant (21833105) (LOCKED),Kevin Durant,21833105,SF/PF/F/UTIL,11600,Final,BKN,51.98

In [3]:
df.columns

Index(['Position', 'Name + ID', 'Name', 'ID', 'Roster Position', 'Salary',
       'Game Info', 'TeamAbbrev', 'AvgPointsPerGame'],
      dtype='object')

In [5]:
columns_to_drop = ['Position', 'Name + ID', 'ID', 'Game Info', 'AvgPointsPerGame']
df.drop(columns=columns_to_drop, inplace=True)
df.head(3)

                    Name Roster Position  Salary TeamAbbrev
0           Nikola Jokic          C/UTIL   12000        DEN
1  Giannis Antetokounmpo    SF/PF/F/UTIL   11800        MIL
2           Kevin Durant    SF/PF/F/UTIL   11600        BKN

In [ ]:
df.columns = ['full_name', 'position', 'salary', 'team']

In [7]:
positions = [pos.split('/') for pos in df['position']]
df['position'] = positions
df.head(2)

               full_name           position  salary team
0           Nikola Jokic          [C, UTIL]   12000  DEN
1  Giannis Antetokounmpo  [SF, PF, F, UTIL]   11800  MIL

In [9]:
df.to_csv('salaries_and_positions.csv', index=False)